@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --container-8xl: 90rem;
  --font-sans: 'Product Sans', sans-serif;

  --color-primary-50: #fff0fd;
  --color-primary-100: #ffe4fd;
  --color-primary-200: #ffc9fa;
  --color-primary-300: #ff9cf4;
  --color-primary-400: #ff5fea;
  --color-primary-500: #ff30dd;
  --color-primary-600: #f50dc4;
  --color-primary-700: #e800b0;
  --color-primary-800: #b00484;
  --color-primary-900: #92096f;
  --color-primary-950: #5b0043;
}

:root {
  --ui-container: var(--container-8xl);
}
